*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 80px;
  display: block;
  background-color: rgb(255, 255, 255);
}
.inner_header{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
  
}


.logo_container{
  height: 100%;
  display: table;
  float: left;

}
.logo_container h1{
  color : rgb(2, 61, 27);
  height : 100%;
  display: table-cell;
  vertical-align: middle;
}
.navigation{
  float: right;
  height: 100%;

}
.navigation li{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation li a{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: rgb(0, 108, 38);

}
.img-container img{
  width : 100%;
  height:100%
}

.home-category{
  /* display: flex; */
  /* justify-content: center; */

}




/* .slide-frame{
  overflow: hidden;
} */


/* 
@-webkit-keyframes slide_animation{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:1200px;}
  30% {left:1200px;}
  40% {left:2400px;}
  50% {left:2400px;}
  60% {left:1200px;}
  70% {left:1200px;}
  80% {left:0px;}
  90% {left:0px;}
  100% {left:0px;}
}

.slide-images{
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}  */